@import "color";

.home3{
  position: relative;
  background-position: top left;
  background-size: 100% 100%;
  height: 100vh;
  margin-bottom: 4rem;
  background-image: url(../public/static/images/header-bg-3.png);
 

.conatinerHero{
  padding: 170px 2rem 0px 2rem;
  display:flex;
  align-items:center;
  flex-direction: column;
  margin:0 auto;
  width:100%;
  max-width: 1000px;
  text-align:center;

  .titlehero{
    color: $color_2;
    font-size: 75px;
    font-weight: 400;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .subTitle{
    color: $color_2;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
    width: 100%;
    max-width: 600px;
    
  }
//////////////////////////button//////////////////////////
  .Getstarted{
    border: none;
    padding: .7rem 1.3rem;
    background: -webkit-gradient(linear, left top, right top, from(#f20f10), to(#ec600d));
    background: linear-gradient(90deg, #f20f10 0%, #ec600d 100%);
    color: $color_2;
    font-size: 16px;
    border-radius: 5px; 
   
  }
}
}

//////////////////////////////////////////////////////////////////////////////////////
    
  @media (max-width:1000px){
    .home3{
      height: 90vh !important;
    .conatinerHero{ 
      .titlehero{
        font-size: 45px !important;
     
      }
      
      .subTitle{
        font-size: 16px !important;
      }
    }
  }
  }

  @media (max-width:650px){
    .home3{
      margin-bottom: 0 !important;
    }
  }


  @media (max-width:450px){
    .conatinerHero{ 
      .titlehero{
        font-size: 35px !important;
     
      }
      
      .subTitle{
        font-size: 16px !important;
      }
    }
  }


 



